// !Animals
.section {
  &__animals {
    padding: 150px 0 75px;
    background: url(../images/section-bg.jpg);
  }
}

.animals {
  &__container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__info {
    max-width: 550px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    span {
      color: #FF8126;
    }
  }

  &__descr {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
  }
}