// !Game
.section {
  &__game {
    padding: 150px 0;
    background: url(../images/game-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.game {
  display: flex;
  align-items: center;
  gap: 72px;
  position: relative;

  &__img-hero {
    position: absolute;
    width: 1000px;
    height: 845px;
    right: -25%;
    bottom: -20%;
    z-index: 2;
  }

  &__container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__item {
    max-width: 650px;
  }

  &__item-text {
    margin-bottom: 13px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
  }

  &__item-title {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;


    span {
      font-family: 'Syne';
      font-style: normal;
      font-weight: 800;
      font-size: 124px;
      line-height: 90%;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
    }

    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 59px;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
  }

  &__item-subtitle {
    margin-bottom: 40px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }

  &__item-descr {
    margin-bottom: 20px;
    padding: 36px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top-left-radius: 30px;
  }

  &__item-award {
    margin-bottom: 30px;
    position: relative;
    padding: 36px;
    background: #6100C2;
    border-bottom-left-radius: 30px;

    p {
      max-width: 465px;
      font-family: 'Syne';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &::after {
      content: "";
      position: absolute;
      background: url(../images/steam.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: 8px;
      right: -16px;
      width: 164px;
      height: 123px;
    }
  }
  
  &__img {
    max-width: 900px;
    height: auto;
  }
}