html,
body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Syne', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 160%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

//!CONTAINER SETTINGS
.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 10px;
}


.slick-dots {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {

  li.slick-active button {
    font-size: 0px;
    line-height: 0px;
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  li button {
    font-size: 0px;
    line-height: 0px;
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  li.slick-active button:before {
    content: url("../images/active-dot.svg");
  }

  li button::before {
    content: url("../images/not-active-dot.svg");
  }
}

.weapons {
  li button::before {
    content: url("../images/not-active-red.svg");
  }
}