// !Hero
.section {
  &__hero {
    padding: 175px 0 0;
    background: #08090C;
  }
}

.hero {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;

    span {
      font-family: 'Syne';
      font-style: normal;
      font-weight: 800;
      font-size: 96px;
      line-height: 90%;
      text-transform: uppercase;
      color: #FF8E3D;
    }

    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 100px rgba(255, 255, 255, 0.3);
  }

  &__text {
    max-width: 519px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.hero__bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  &-socials {
    display: flex;
    gap: 17px;
    padding: 40px 43px 38px 30px;
    background: url(../images/social-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-text {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 27px;
  }

  &-registr {
    padding: 35px 98px 40px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: url(../images/registr-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-date {
    padding: 40px 85px 50px 70px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #AEB5C5;
    background: url(../images/date-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__list {
  display: flex;
  gap: 10px;
}