// !Immerse
.section {
  &__immerse {
    padding: 580px 0 130px;
    background: url(../images/immerse-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.immerse {
  &__text {
    max-width: 1075px;
    margin-bottom: 50px!important;
    margin: 0 auto;
    padding: 60px 70px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(25px);
    border-bottom: 10px solid #FF8E3D;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
  }
}
