// !Media-Queries
@media(max-width:1890px) {
  .hero__bottom {
    gap: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .hero__bottom-text {
    margin-right: 0;
  }

  .hero__bottom-socials {
    width: 50%;
  }

  .hero__bottom-date {
    width: 50%;
    white-space: nowrap;
  }

  .hero__bottom-registr {
    width: 100%;
    order: -1;
  }
}

@media(max-width:1670px) {
  .game__container {
    max-width: 100%;
  }

  .game__img-hero {
    right: -10%;
    width: 60%;
    height: 100%;
  }

  .features__carousel-item {
    max-width: 100%;
    width: 100%;
    gap: 30px;
  }

  .features__carousel-item {
    flex-direction: column-reverse;
  }

  .features__carousel-img {
    width: 70%;
  }

  .features__carousel-info {
    max-width: 70%;
  }

  .features__carousel-title {
    justify-content: flex-end;
  }

  .weapons__slider-item {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }

  .weapons__slider-img {
    width: 70%;
  }

  .weapons__slider-info {
    max-width: 70%;
  }

  .animals__item {
    flex-direction: column-reverse;
  }

  .animals__info {
    max-width: 100%;
  }

  .animals__title {
    text-align: center;
  }

  .animals__descr {
    text-align: center;
  }

  .faction__slider-item {
    flex-direction: column;
  }

  .faction__slider-info {
    max-width: 70%;
    text-align: center;
    right: 0;
  }

  .faction__slider-img {
    width: 70%;
  }

  .experience__carousel-item {
    flex-direction: column-reverse;
  }

  .experience__carousel-img {
    width: 70%;
  }

  .experience__carousel-info {
    max-width: 70%;
  }

  .section__immerse::after {
    top: 15vh;
  }

  .beta {
    flex-direction: column-reverse;
  }

  .beta__box {
    max-width: 75%;
    align-items: center;
    margin: 0 auto;
  }

  .beta__box-prizes {
    padding: 7vh 5.5vw;
  }

  .section__beta {
    padding-bottom: 0;
  }

  .beta__img-hero {
    left: 50%;
    transform: translate(-50%);
    width: 63%;
    height: auto;
  }

  .beta__box-date {
    text-align: center;
    padding: 7vh 15vw;
  }
}

@media (max-width:1400px) {
  .header__container {
    gap: 0;
    justify-content: space-between;
  }

  .navbar {
    margin-right: 25px;
  }

  .hero__bottom-socials {
    padding: 38px 30px;
  }

  .hero__bottom-date {
    padding: 40px 0 50px;
  }

  .about {
    width: 75%;
  }

  .about__text {
    max-width: 100%;
    padding: 80px 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    background-position: center center;
  }

  .about__text-join {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    padding: 20px 20px 12px;
    background-position: center center;
  }

  .about__video-link {
    max-width: 100%;
    height: auto;
  }
}

@media(max-width:1360px) {
  .requirements__wrapper {
    flex-direction: column;
  }

  .requirements__table-min {
    max-width: 100%;
  }

  .requirements__table-rec {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width:1280px) {
  .hero__bottom-socials {
    width: 100%;
  }

  .hero__bottom-date {
    width: 100%;
    background: none;
    background-color: #22252B;
  }

  .hero__bottom-socials {
    display: none;
  }

  .nav__list-item a {
    padding-right: 31px;
    padding-left: 5px;
  }

  .game {
    flex-direction: column;
  }

  .game__img {
    max-width: 100%;
    width: 100%;
  }

  .game__img-hero {
    right: 0;
    width: auto;
    height: auto;
    bottom: 0;
  }

  .section__game {
    padding-bottom: 0;
  }

  .game__item {
    max-width: 85%;
  }

  .about__title {
    max-width: 100%;
    font-weight: 800;
    font-size: 54px;
    line-height: 90%;
  }

  .section__immerse::after {
    top: 17vh;
  }

  .requirements__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 90%;
  }

  .beta__box-prizes {
    padding: 5vh 15vw;
  }

  .footer__social.social__list {
    justify-content: center;
    gap: 10px;
  }

  .footer__list {
    flex-direction: column;
  }

  .footer__list-item:not(:last-child)::after {
    display: none;
  }
}

@media(max-width:1110px) {
  .burger {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .burger::before {
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
  }

  .burger::after {
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
  }

  .burger__line {
    width: 50%;
  }

  .navbar {
    margin-right: 0;
    --header-height: 152px;
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 1000;
    background: #FE8F3F;
    box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.7);
    width: 60%;
    max-width: 300px;
    height: calc(100vh - var(--header-height));
    padding: 30px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    border-top-left-radius: 35px;
  }

  .navbar--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }

  .nav__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .nav__link {
    font-size: 20px;
    border: 1px solid #808692;
    border-radius: 10px;
  }

  .nav__list-item a {
    padding: 12px 50px;
    background-color: #22252B;
  }

  .nav__link::before {
    display: none;
  }

  .nav__list-item:last-child a {
    background-color: #22252B;
  }

  .nav__list-item:last-child a::after {
    background: none;
  }

  .hero__bottom-socials {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    background: none;
  }

  .hero__bottom-text {
    font-size: 28px;
    text-align: center;
  }

  .social__list {
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-evenly;
  }

  .features__carousel-img {
    width: 100%;
  }

  .features__carousel-item {
    align-items: end;
  }

  .features__carousel-title {
    white-space: nowrap;
  }

  .weapons__slider-img {
    width: 100%;
  }

  .weapons__slider-info {
    max-width: 100%;
  }

  .faction__slider-info {
    max-width: 100%;
  }

  .faction__slider-img {
    width: 100%;
  }

  .experience__carousel-info {
    margin: 0;
    width: 100%;
  }

  .experience__carousel-title {
    font-size: 48px;
  }

  .experience__carousel-img {
    width: 100%;
  }

  .section__immerse::after {
    top: 20vh;
  }

  .immerse__text {
    padding: 30px 10px;
    font-size: 42px;
  }

  .beta__box-title {
    font-size: 52px;
  }

  .beta__box-subtitle {
    font-size: 42px;
  }

  .characteristics {
    flex-direction: column;
    align-items: flex-start;
  }

  .characteristics__list {
    margin-left: 50px;
  }

  .footer__copy {
    font-size: 16px;
  }
}


@media(max-width:860px) {
  .about__title {
    font-weight: 800;
    font-size: 44px;
    line-height: 90%;
    margin-bottom: 10px;
  }

  .features__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 90%;
    margin-bottom: 0;
  }

  .section__about {
    padding: 100px 0 50px;
    width: 100%;
  }

  .section__features {
    padding-top: 100px;
  }

  .about {
    width: 100%;
  }

  .features__carousel-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
  }

  .features__carousel-descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .weapons__slider-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
  }

  .weapons__slider-descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .section__weapons {
    padding-top: 100px;
  }

  .section__animals {
    padding-top: 100px;
  }

  .animals__descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .faction__slider-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
  }

  .faction__slider-descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .section__faction {
    padding-top: 100px;
  }

  .section__experience {
    padding-top: 75px;
  }

  .experience__carousel-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
  }

  .experience__carousel-descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .section__beta {
    padding-top: 100px;
  }

  .beta__box {
    max-width: 100%;
  }

  .release {
    min-height: 60vh;
  }

  .section__immerse {
    min-height: 90vh;
  }
}

@media(max-width:768px) {
  .hero__title {
    font-size: 70px;

    span {
      font-size: 85px;
    }
  }

  .hero__bottom {
    margin-top: 5px;
  }

  .game__item-title {
    font-size: 70px;
  }

  .game__item {
    max-width: 100%;
  }

  .game__item-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 90%;
  }

  .immerse__text {
    padding: 30px 10px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
  }

  .requirements__title {
    font-weight: 800;
    font-size: 34px;
    line-height: 90%;
  }

  .beta__box-subtitle {
    margin-bottom: 20px;
  }

  .beta__box-title {
    font-size: 42px;
  }

  .beta__box-subtitle {
    font-size: 32px;
  }

  .release__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 90%;
  }

  .footer {
    padding: 50px 0;
  }
}

@media(max-width:660px) {
  .hero__bottom-registr {
    padding: 30px 0;
  }

  .hero__bottom-date {
    padding: 30px 0;
  }

  .game__item-award {
    p {
      max-width: 400px;
    }

    &::after {
      top: unset;
      bottom: 0;
    }
  }

  .experience__carousel-title {
    font-size: 26px;
  }

  .experience__carousel-descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }

  .beta__box-prizes {
    padding: 3vh 15vw;
    font-size: 27px;
    line-height: 31px;
  }

  .beta__box-date {
    padding: 3vh 15vw;
    font-size: 23px;
    line-height: 29px;
  }

  .characteristics__list {
    margin-left: 0;
  }

  .characteristics__item {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }

  .section__characteristics {
    padding: 30px 0;
  }

  .release__link {
    font-size: 32px;
    padding: 4px 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(max-width:550px) {
  .game__item-descr {
    padding: 20px;
    text-align: center;
  }

  .game__item-award {
    padding: 20px;

    p {
      max-width: 300px;
      font-weight: 500;
      font-size: 16px;
    }

    &::after {
      width: 100px;
      height: 77px;
      right: 0;
    }
  }

  .features__title {
    font-size: 34px;
  }

  .features__carousel-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
  }

  .features__carousel-descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }

  .weapons__slider-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
  }

  .weapons__slider-descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }

  .section__weapons {
    padding-top: 75px;
  }

  .faction__slider-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
  }

  .faction__slider-descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }

  .section__faction {
    padding: 30px 0 0;
  }

  .requirements__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 90%;
    margin-bottom: 30px;
  }

  .section__requirements {
    padding: 60px 0 30px;
  }

  .requirements__table-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
  }

  .requirements__table-item--empty {
    display: none;
  }

  .requirements__table-item--min {
    padding: 10px 0;
    text-align: center;
    flex-basis: 100%;
  }

  .requirements__table-item--rec {
    padding: 10px 0;
    text-align: center;
    flex-basis: 100%;
  }

  .requirements__list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }

  .requirements__list-rec>li {
    padding: 10px;
    text-align: start;
  }

  .requirements__list-min>li {
    padding: 10px;
  }

  .section__beta {
    padding-top: 25px;
  }

  .beta__box-date {
    font-size: 22px;
  }

  .beta__box-prizes {
    font-size: 22px;
  }

  .release__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__social {
    margin-bottom: 20px;
  }

  .footer__list-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}


@media (max-width:540px) {
  .hero__title {
    font-size: 44px;

    span {
      font-size: 56px;
    }
  }

  .hero__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
  }

  .hero__wrapper {
    height: calc(100vh - 200px);
  }

  .hero__bottom-registr {
    padding-top: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__bottom-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
  }

  .nav__list-item a {
    padding: 12px 25px;
  }

  .hero__bottom-text {
    font-size: 22px;
  }

  .social__list-img {
    width: 25px;
    height: 25px;
  }

  .navbar--visible {
    padding: 30px 0;
  }

  .nav__list-item a {
    font-size: 16px;
  }

  .nav__list-item:last-child a {
    font-size: 16px;
  }

  .nav__list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .game__item-award {

    p {
      max-width: 200px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .game__item-link {
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .game__item-descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .game__item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }

  .game__item-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }

  .game__item-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 90%;
  }

  .section__game {
    padding-top: 40px;
  }

  .section__about {
    padding: 20px 0 40px;
  }

  .about__text-join {
    padding: 32px 20px 14px;
    font-weight: 700;
    font-size: 9.78788px;
    line-height: 12px;
  }

  .about__text {
    padding: 24px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
  }

  .about__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 90%;
  }

  .section__features {
    padding: 60px 0 0px;
  }

  .section__weapons {
    padding: 30px 0 0;
  }

  .weapons__slider-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .weapons__slider-descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  .animals__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .animals__descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  .section__animals {
    padding: 50px 0 0;
  }

  .experience__carousel-title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .experience__carousel-descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  .immerse__text {
    padding: 20px 10px;
    font-size: 22px;
  }

  .beta__box-prizes {
    padding: 2vh 15vw;
    font-size: 18px;
    line-height: 26px;
  }

  .beta__box-date {
    padding: 2vh 15vw;
    font-size: 18px;
    line-height: 26px;
  }

  .beta__box-title {
    font-size: 36px;
  }

  .beta__box-link {
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .beta {
    gap: 25px;
  }

  .beta__box-prizes {
    margin-bottom: 20px;
  }

  .characteristics__item {
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
  }

  .release__title {
    font-size: 36px;
  }

  .release__subtitle {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 10px;
    line-height: 160%;
  }
}

@media(max-width:390px) {
  .beta__box-title {
    font-size: 32px;
  }

  .beta__box-subtitle {
    font-size: 26px;
  }

  .release__title {
    font-size: 28px;
  }
}

@media(max-width:375px) {
  .navbar--visible {
    padding: 10px 0;
  }

  .nav__list-item a {
    padding: 10px;
  }

  .nav__list-item:last-child a {
    padding: 10px;
  }

  .nav__list-item a {
    font-size: 14px;
  }

  .nav__list-item:last-child a {
    font-size: 14px;
  }

  .nav__list-item:not(:last-child) {
    margin-bottom: 5px;
  }

  .hero__bottom-registr {
    padding-bottom: 14px;
  }

  .hero__bottom-date {
    padding: 16px 0;
  }

  .logo {
    max-width: 75%;
  }

  .hero__title {
    font-size: 34px;

    span {
      font-size: 42px;
    }
  }

  .hero__bottom {
    margin-top: 0;
  }

  .hero__text {
    font-size: 12px;
  }

  .hero__wrapper {
    height: calc(100vh - 170px);
  }

  .about__text {
    padding: 24px 0;
  }

  .game__item-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
  }

  .game__item-subtitle {
    margin-bottom: 20px;
  }

  .features__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 90%;
  }

  .features__carousel-info {
    margin-top: 70px;
  }

  .features__carousel-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }

  .features__carousel-descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  .features__carousel-item {
    gap: 10px;
  }

  .animals__title {
    font-size: 37px;
  }

  .faction__slider-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }

  .faction__slider-title {
    margin-bottom: 8px;
  }

  .faction__slider-descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  .section__experience {
    padding: 25px 0 0;
  }

  .experience__carousel-title {
    font-size: 16px;
  }

  .experience__carousel-descr {
    font-size: 12px;
  }


  .section__immerse::after {
    top: 11vh;
  }

  .immerse__text {
    padding: 20px 10px;
    font-size: 14px;
  }
}

@media(max-width:320px) {
  .section__immerse::after {
    top: -2vh;
  }

  .beta__box-title {
    font-size: 26px;
  }

  .beta__box-subtitle {
    font-size: 24px;
  }

  .beta__box-date {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .beta__box-prizes {
    font-size: 12px;
    line-height: 17px;
  }
}