// !Release
.section {
  &__release {
    // padding: 225px 0 230px;
    background: url(../images/release.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.release {
  min-height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  }

  &__subtitle {
    margin-bottom: 65px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__link {
    padding: 15px 83px;
    background: url(../images/registr-btn.png);
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}